#gallery {
    border: 1px solid black;
    position: relative;
    background-color: rgba(0,0,0,.4);
}

#styles, #galleryThumbs {
    float:left;
}

#styles {
    display:block;
    width:20%;
    text-align: center;
    margin-right: 2%;
}

#styles li {
    padding:.5em 0;
}

#styles a {
    color: white;
}

#styles li.selected, #styles li:hover {
    background-color: rgba(0,0,0,.2);
}

a img {
    border:1px solid black;
}

#galleryThumbs {
    width: 77%;
    padding: 1em 0;
}

#galleryThumbs h1 {
    color:white;
    font-size: 1.3em;
    margin-bottom: .4em;
}

#galleryThumbs photoGrid {
    text-align:center;
}

#galleryThumbs figure {
    display: inline-block;
    float: none;
}