#gallery {
    border:1px solid blue;
}

#gallery h1 {
    
}

#styles, #galleryThumbs {
    float:left;
}

#styles {
    display:block;
    width:20%;
    margin-right:1%;
}

#styles li.selected, #styles li:hover {
    text-decoration: underline;
}

a img {
    border:1px solid black;
}

#galleryThumbs {
    width: 78%;
}