.group:after 
{
    content: "";
    display: table;
    clear: both;
}

article 
{
    position: relative;
    margin-bottom: 2em;
}

article > time 
{
    position: absolute;
    top: .2em;
    right: .2em;
    font-size:.9em;
}

article p
{
    padding:0 1em;
}

a.readMore 
{
    float: right;
}

table#calendar
{
    border-collapse: collapse;
}

table#calendar td 
{
    width:7em;
    height:7em;
    padding:0.2em;
    vertical-align: top;
    border:1px solid black;
    opacity: 0.5;
}

table#calendar td.currentMonth
{
    opacity: 1;
}

nav
{
    margin-bottom: 2em;
}

nav a
{
    display:block;
    float:left;
    margin:0 .2em;
}

.content
{
    width:70%;
    float:left;
}

#adminMenu
{
    width:25%;
    float:right;
    margin-left:5%;
    text-align:center;
}

#adminMenu h3
{
    padding-top:0;
    margin-top:0;
}