#mainBody > * {
    float:left;
}

body > * {
    width: 60em;
    margin:0 auto;
}

body > header, #mainBody, #adminMenu {
    margin-bottom: 1em;
}

#mainBody > nav {
    width:8em;
    margin-right:2em;
}

#content {
    width:50em;
}

#mainBody nav a {
    display:block;
    text-align:center;
    margin:.3em 0;
    padding:.4em;
}

#adminMenu {
    margin-top:2em;
}

#adminMenu a {
    display:inline-block;
    padding:.5em;
    margin-right:.8em;
    background-color:lime;
}

article > header {
    margin-bottom:1em;
}

article h1 {
    font-size: 1.3em;
}

article > h1 {
    text-align: center;
    margin-bottom: 1em;
}

article p {
    text-indent:1.5em;
    padding:0 1em;
    line-height:1.4;
}

article > header {
    position:relative;
}

article > header > time {
    position:absolute;
    right: 0;
    top: .2em;
    font-size:.8em;
    vertical-align:middle;
}

table, td, th {
    border:1px solid black;
}

table td, th {
    padding:.6em;
    text-align:center;
    vertical-align:middle;
}

.photoGrid {
    text-align:left;
}

.photoGrid figure {
    display:inline-block;
}

figure {
    text-align:center;
    position: relative;
    width: 200px;
    background-color: rgba(255,255,255,.5);
    margin-bottom: 50px;
}

figure > img {
    display: inline-block;    
}

figure > figcaption {
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    opacity: .6;
    padding: 4px 0;
    color: white;
    height: 42px;
    position: absolute;
    bottom: -50px;
    vertical-align: middle;
}

figure:hover > figcaption {
    opacity: .9;
}

img.defaultImage {
    height: 150px;
}

#userBar {
    padding:.3em 0;
}

#userBar > * {
    float:right;
}

#userBar input {
    font-size:.7em;
}

a.smallLink {
    font-size:.8em;
}

#breadcrumbs {
    margin-bottom: 1em;
}

#breadcrumbs li {
    display: inline-block;
    font-size: .8em;
}

#breadcrumbs li:not(:first-child):before {
    content: " » ";
}